.fit-picture {
    width : 1680 px;
    height: 779 px;

    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: url(john-looy-X3DZ1c7MPa4-unsplash.jpg);

}

.titre_1{
position: absolute;
left: 8.21%;
right: 5.3%;
top: 39.15%;
bottom: 39.02%;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 45px;
line-height: 52px;
line-height: 99%;

text-align: "Left";
/* or 116% */

letter-spacing: -0.015em;

/* 1 */
opacity: 99%;
color: #2871B7;
}
.text{

position: absolute;
left: 8.21%;
right: 51.85%;
top: 61.62%;
bottom: 27.73%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 37px;
/* or 148% */

letter-spacing: -0.015em;

/* noir */

color: #292929;
}

.boutton{
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
width : 302px;
height: 49px;
margin-top: 45rem;
margin-left: 20rem;

/* 5 */

background: #CD5A83;
border-radius: 5px;
}

.texte_boutton{
position: absolute;
left: 0%;
right: 0%;
top: 1.45%;
bottom: 28.57%;


font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 25px;
/* or 139% */

text-align: center;
letter-spacing: -0.015em;

color: #FFFFFF;

}
.fit-picture2{
    left: 8.45%;
    right: 82.32%;
    top: 10.78%;
    bottom: 79.59%;
}

.navBarre{
    background: white;
    width: 75rem;
    height: 7rem;
    z-index: 6;
    position: absolute;
    margin-left: 7rem;
}

.texte_barre{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18rem;
line-height: 25rem;
/* or 139% */

letter-spacing: -0.015em;

color: #4E4E4E;
}